POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_NAME=foodgram
DB_HOST=db
DB_PORT=5432

SECRET_KEY='django-insecure-s)js_q%778ywdg=ixccl3pmk73@4o6wc(qoz&lel4#ugr2d@1e'
ALLOWED_HOSTS=foodgramgram.zapto.org
DEBUG=False